/*=== Media Query ===*/
/* Reset CSS */
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #1f1f1f;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  h5, .h5 {
    font-size: 21px;
  }
}

h6 {
  font-size: 18px;
}

a,
span {
  display: inline-block;
}

a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 26px;
  font-size: 15px;
}

p.lg {
  font-size: 16px;
}

p.sm {
  font-size: 12px;
}

@media (min-width: 768px) {
  p {
    line-height: 32px;
  }
}

span {
  font-size: 12px;
}

.btn:focus,
.btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button:focus {
  outline: none;
}

.card {
  border: none;
  border-radius: 0;
}

/* Slick Slider Resets */
.slick-slide:focus {
  outline: none;
}

.slick-slide:focus a:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Common Classes */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Typography */
.title-large {
  font-size: 38px;
}

.title-mid {
  font-size: 21px;
}

/* Background Image */
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Buttons */
.btn {
  font-family: 'Karla', sans-serif;
  letter-spacing: -1.12px;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

.btn--primary {
  background-color: #1290a4;
  color: #FFF;
}

.btn--primary:hover {
  background-color: rgba(18, 144, 164, 0.8);
  color: #fff;
}

.btn-outlined--primary {
  background-color: transparent;
  color: #1290a4;
  border: 2px solid #1290a4;
}

.btn-outlined--primary:hover {
  background-color: #1290a4;
  color: #fff;
}

.btn--orange {
  color: #ffffff;
  color: #ffffff;
  background-color: #ee5a24;
}

.btn--orange:hover {
  color: #fff;
  background-color: rgba(238, 90, 36, 0.8);
}

.btn-outlined--white {
  color: #fff;
  border: 2px solid #fff;
}

.btn-outlined--white:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn--white {
  color: #1290a4;
  background-color: #ffffff;
}

.btn--white:hover {
  color: #1290a4;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn--green {
  color: #ffffff;
  background-color: #4eab08;
}

.btn--green:hover {
  background-color: rgba(78, 171, 8, 0.8);
  color: #ffff;
}

/* Go from zero to full opacity */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Margin  */
.mb-d-30 {
  margin-bottom: -30px;
}

.mb--30 {
  margin-bottom: 30px;
}

.mb--65 {
  margin-bottom: 65px;
}

.rotate-45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shape img {
  width: 100%;
  max-width: initial;
}
/*# sourceMappingURL=settings.css.map */


/* meus estilos aqui */
.ml-100{
  margin-left: 150px;
}

#menu{
  background: #0000BF;
}

#sobre-telemedicina, #gestao{
  background: #F3F3F3;
  padding: 50px 0px 20px 0px;
}

#municipios{
  background: #fff;
}

.area-edital, .municipios-participar {
  padding: 36px 0 0px;
}

.area-edital{
  margin-top: 140px;
}

.contato {
  padding: 36px 0px 0px 0px;
  margin-bottom: -20px;
}

.modal-fechar{
  font-size: 40px!important;
  color: #fff;
}

#mapa{
  background: #0000BF;
}

#regulamentos-inscricao{
  background: #B4DC32;
  padding: 115px 0 80px!important;
}
#rodape{
  background: #F3F3F3;
}

.titulo-edital{
  font-size: 36px!important;
  font-family: 'VotorantimSans';
  color: #B4DC32!important;
  letter-spacing: 0.2px!important;
  line-height: 42px!important;
  margin-top:30px;
}

.sobre-medicina{
  font-family: 'VotorantimSans';
  color: #0000BF!important;
  font-size: 48px!important;
  width: 396px!important;
  line-height: 56px!important;
}

.btn-inscrevarse-edital{
  font-family: 'VotorantimSans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  background: #FFC40A;
  box-shadow: 3px 6px 6px rgba(74, 68, 7, 0.36);
  border-radius: 5px;
}

.barra-1{
  margin-bottom: -10px;
}

.barra-2{
  margin-top: 5px;
  float: right;
}

.barra-3{
  margin-top: -50px;
  float: right;
}

.divisao-4{
  position: absolute;
  width: 70%;
  margin-top: 140px;
  right: 0px;
  background: #B4DC32;
  border-radius: 5px;
  height: 7px;
}

.apoio-municipio{
  margin-top: 120px;
  font-family: 'VotorantimSans';
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  color: #0000BF;
}

.titulo-municipios-participar{
  font-family: 'VotorantimSans';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  color: #0000BF;
}
.sobre-participacao{
  margin-top: 15px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: normal;
font-size: 18px!important;
line-height: 21px!important;
}

.criterios-selecao{
  margin-top: 50px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: 900!important;
font-size: 38px!important;
line-height: 45px!important;
color: #0000BF;
}

.item-check{
font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;

}

.desc-check{
  font-family: 'VotorantimSans';
  font-style: normal;
  margin-left: 35px;
  font-weight: 100!important;
  font-size: 18px!important;
  line-height: 20px!important;
  
  }

.img-item{
  width: 30px;
  margin-right: 10px;
}

.img-criterios{
  max-width: 160%!important;
  width: 130%!important;
}

.gestao-cuidado{
  margin-top: 140px;
  margin-right: -30px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
font-size: 48px!important;
line-height: 56px!important;

}

.img-inteligencia{
  margin-left: -120px;
  max-width: 140%!important;
  width: 150%;
}

.ia{
  font-size: 48px!important;
  color:  #F6911E;
}

#box-comentario{
  margin-top: 140px;
  background-color: #FFF;
  border-radius: 20px;
  width: 500px;
}

#box-comentario .img-depoimento{
  width: 144px;
height: 144px;
margin-left: 46px;
margin-top: -50px;
}

#box-comentario .nome-depoimento{
  margin-top: 10px;
  margin-left: 60px;
font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
}

#box-comentario .depoimento{
  padding: 10px 30px 40px 30px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: normal;
font-size: 18px!important;
line-height: 21px;
}

.inscricao-regulamento{
  font-family: 'VotorantimSans';
  width: 400px;
  height: 100px;
  padding: 26px 67px;
  color: #fff;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
text-align: center;
text-transform: uppercase;
  background: #0C46E6;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.area-contato{
  margin: 100px 0px;
}

.titulo-contato{
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
text-transform: uppercase;
color: #0000BF;
}

.desc-contato{
  font-family: 'VotorantimSans';
  margin: 20px 0px;
  width: 480px;
font-style: normal;
font-weight: normal;
font-size: 24px!important;
color: #0000BF;
}

.titulo-btn{
  margin-top: 10px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-transform: capitalize;
color: #0000BF;
}

.btn-form-contato{
  background: #F3F3F3;
border: 1px solid #0C46E6;
box-sizing: border-box;
border-radius: 5px;
}

.btn-submit{
  margin-top: 30px;
  font-family: 'VotorantimSans';
  background: #0000BF;
  color: #fff;
  border-radius: 5px;
}

.titulo-rodape{
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

}

.titulo-apoio{
  margin-right: 20px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
float: right;
font-size: 24px;
line-height: 28px;

}

.titulo-parceiro{
  margin-right: 20px;
  font-family: 'VotorantimSans';
font-style: normal;
font-weight: bold;
float: left;
font-size: 24px;
line-height: 28px;

}

.logo-apoio{
  float: right;
  margin-right: 50px;
}